*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin:0;
    font-family: sans-serif;
    padding:0;
}
.mid{
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

.container1,.container2,.container3,.container4,.container5,.container6{
    border:dotted black;
}

/************** colori **********+*/

.celeste{
    background-color: rgb(173, 216, 230);
}
.ocra{
    background-color: rgb(218,165,32);
}
.blue{
    background-color: rgb(0,0,139);
}
.fucsia{
    background-color: rgb(238,130,238);
}
.pink{
    background-color: rgb(255,192,203);
}
.light_blue{
    background-color: rgb(30, 144, 255);
}
.grey{
    background-color:rgb(211, 211, 211);
}
.green{
    background-color: rgb(34, 139, 34);
}
.black{
    background-color: rgb(35, 39, 42);
}
.pink2{
    background-color: rgb(240, 128, 128);
}
.acqua{
    background-color: rgb(32, 178, 170);
}
.acqua2{
    background-color: rgb(127, 255, 212);
}
.pink3{
    background-color: rgb(255, 182, 193);
}
/************** prima sezione **********+*/

.title{
    display: flex;
    justify-content: center;
    align-items:center;
    height:4rem;
}
.logo,.link,.login{
    border:dotted black;
    padding:0.5rem;
}
.logo{
    width:20%;
}
.link{
    width:60%;
    text-align: center;
}
.login{
    width:20%;
}

.container1{
    height:13rem;
    width:35rem;
}
.flex-container{
    display:flex;
    justify-content:center;
    padding:2rem 0;
}

.container{
    height:calc(17rem + 3px);
}
/*************** seconda sezione *****************/

.container2,.container3{
    height:20rem;
}
.container2{
    width:60%;
}
.container3{
    width:40%;
}
/**************** quinta sezione ******************/

.container4{
    height:30rem;
    width:100%;
}

/**************** footer *******************/

.container5,.container6,.flex-container2{
    height:20rem;
}

.container5{
    width:calc((100% / 6)*2);
}
.flex-container2{
    width:calc((100% / 6)*4);
    display:flex;
    justify-content:space-between;
}
.container6{
    border:dotted white;
    width:calc(100% / 4);
}

.flex-container3{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:3rem;
}
button{
    border:black dotted;
}

